# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.production
.env.development
!.env.example

# OCR Temporary Outputs & Test Crops
ocr/master_images/
ocr/*.xlsx
ocr/__pycache__/
ocr/temp_thumbnails/
ocr/test_16_cards/
ocr/test_crops/
ocr/test_jsm6_exact/
ocr/test_pure_packs/

supabase/.env.secrets
supabase/.temp/
*.tsbuildinfo

# Data / CSV files
*.csv
*.CSV
.vite-ssg-temp
